<div *ngIf="resumeService.resume">
	<div *ngIf="resumeService.resume.summary">
		<span class="lab">{{resumeService.resume.name}} Summary</span>
		<div class="row">
			  <ul>
					<li *ngFor="let entry of resumeService.resume.summary">{{entry}}</li>
			  </ul>
	    </div>
	</div>
	<div *unless="resumeService.resume.summary">
		<span class="nf highlights">{{resumeService.resume.name}} Please enter a valid individual name.</span>
	</div>
	<div *ngIf="resumeService.resume.summary">
	    <hr>
	    <span class="lab">Summary of Expertise</span>
		<div class="row">
		  <ul>
		    <span *ngFor="let cat of resumeService.resume.technologies; let i = index">
		    	<li *ngIf="resumeService.resume.showCats[i]">
		    	{{cat | keys}}: [{{cat | values }}]</li></span>
		  </ul>
		</div>
	    <hr>
	    <span class="lab">Recent Professional Experience</span>
		<hr>
		<div *ngFor="let position of resumeService.resume.positions; let i = index">
			<div *ngIf=" i < 4">
				<table>
					<tr><td class="highlights indent">{{position.dates}} ({{position.duration}})</td>
						<td class="highlights indent">{{position.vendor}} for {{position.client}} {{position.group}}</td>
						<td class="highlights indent">{{position.name}}</td></tr>
					<tr><td class="leftLabel indent">Technologies:</td>
						<td colspan="2" class="highlights indent">{{position.technologies}}</td></tr>
					<tr><td colspan="3" class="leftLabel indent">Tasks:</td></tr>
				</table>
				<ul class="details">
				<li *ngFor="let task of position.tasks">{{task}}</li>
				</ul>
				<hr>
			</div>
		</div>
	    <span class="lab">Summary of Education</span>
		<div class="row">
		  <ul>
		    <li *ngFor="let school of resumeService.resume.educationSummary">{{ school }}</li>
		  </ul>
	</div>
</div>

